<!-- Content Wrapper -->
<div id="singleColumn">
    <div id="contentWrapper">
        <div id="homeBanner" class="bannerAbout" style="background-image:url('/images/<%= banner %>');">
          <div class="introContent">
      <h2>DocuSign Mobile Application Challenge</h2>
<div class="para">Welcome to the Docusign Mobile App Series sponsored by the DocuSign and [topcoder]. The Docusign Mobile App Series is comprised of weekly topcoder challenges to build native Android and iOS application for specific industry verticals.</div>     </div>
        </div>
        <div class="main homeMain">
            <div id="contentArea" class="post">
            Each week we'll launch a series of challenges providing you with the opportunity to show off your development skills and prowess with the DocuSign API. Love building native apps or just want to get started? This is a perfect series for you. Get started today to enhance your skills, build some killer apps and earn some prize money in the process.
            <!-- contentArea -->
            <div style="padding-bottom:10px"></div><div class="clear"></div>
        </div>
        <!-- main -->
    </div>
</div>