<!-- Content Wrapper -->
<div id="singleColumn">
    <div id="contentWrapper">
        <div id="homeBanner" class="bannerAbout" style="background-image:url('/images/<%= banner %>');">
          <div class="introContent">
      <h2>DocuSign Mobile Application Challenge</h2>
<div class="para">Welcome to the Asteroid Grand Challenge Series sponsored by the NASA Tournament Lab. The Asteroid Grand Challenge Series is comprised of a number of topcoder Challenges that aim to get the world involved in finding asteroid threats to human populations.</div>     </div>
        </div>
        <div class="main homeMain">
            <div id="contentArea" class="post">
            this is the home apge
            <!-- contentArea -->
            <div style="padding-bottom:10px"></div><div class="clear"></div>
        </div>
        <!-- main -->
    </div>
</div>