<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= title %>  | DocuSign</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/social_widget.css" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/interactive.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
<link type="text/css" href="/stylesheets/wordpress-default.css" rel="stylesheet" media="all" />
<!--[if lte IE 8]> 
        <link href="/stylesheets/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" />
<![endif]--> 

<script src="/javascripts/jquery-1.5.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript" src="/javascripts/interactive.js"></script>
<style type='text/css'>
    .stpulldown-gradient
    {
      background: #E1E1E1;
      background: -moz-linear-gradient(top, #E1E1E1 0%, #A7A7A7 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#A7A7A7)); /* webkit */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1E1E1', endColorstr='#A7A7A7',GradientType=0 ); /* ie */
      background: -o-linear-gradient(top, #E1E1E1 0%,#A7A7A7 100%); /* opera */
      color: #636363;
    }
    #stpulldown .stpulldown-logo
    {
      height: 40px;
      width: 300px;
      margin-left: 20px;
      margin-top: 5px;
      background:url('') no-repeat;
    }
</style>

<link rel='stylesheet' id='cudazi-scroll-to-top-style-css'  href='/stylesheets/widget.css?ver=3.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-paginate-css'  href='/stylesheets/wp-paginate.css?ver=1.2.4' type='text/css' media='screen' />
<script type='text/javascript' src='/javascripts/jquery/jquery.js?ver=1.7.1'></script>
<script type='text/javascript' src='/javascripts/widget.js?ver=3.3.1'></script>
<script>
  function expand(param) {
    param.style.display = (param.style.display == "none") ? "block" : "none";
  }
  function wpex_toggle(id, more, less) {
    el = document.getElementById("wpexlink" + id);
    el.innerHTML = (el.innerHTML == more) ? less : more;
    expand(document.getElementById("wpex" + id));
  }
  </script>
</head>

<body>
<!-- wrapper -->
<div id="wrapper">
  <div id="innerWrapper"> 
    <!-- header -->
    <div id="header"> 
      <ul id="menu-top" class="topMenu"><li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-184"><a href="/" ><span class="right"><span class="middle">HOME</span></span></a></li>
<li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-29"><a href="/challenges" ><span class="right"><span class="middle">CHALLENGES</span></span></a></li>
<li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-111 current_page_item menu-item-190"><a href="/leaderboard" ><span class="right"><span class="middle">LEADERBOARD</span></span></a></li>
</ul>     <a id="siteLogo" href="http://community.topcoder.com/ntl">
      <img src="/images/docusign.jpg" alt="DocuSign" width="350"/>
    </a>  
    </div>
<script>
  $(document).ready(function(){
    $('tbody tr:odd').each(function(){
      $(this).addClass('odd');
    })
  })
</script>
<style>
ol li{margin-bottom:10px}
</style>
<%-body%>
<style>
/*
#footer{margin-top:0px}
.footerMenu {padding-top:15px;}
*/
</style>
<div id="footer">
  <div id="footerInner">
       <a href="http://www.topcoder.com/" class="topcoderLogoMed"><img src="/images/tcLogoSmall.png" alt="" /></a>
    <ul id="menu-bottom" class="footerMenu"><li id="menu-item-185" class="iconBlog menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="http://www.topcoder.com/blog" >Blog</a></li>
<li id="menu-item-186" class="iconYoutube menu-item menu-item-type-custom menu-item-object-custom menu-item-186"><a href="http://www.youtube.com/topcoderinc" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.youtube.com/topcoderinc']);">YouTube</a></li>
<li id="menu-item-187" class="iconFacebook menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a href="http://facebook.com/topcoderinc" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://facebook.com/topcoderinc']);">Facebook</a></li>
<li id="menu-item-188" class="iconTwitter menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a href="http://twitter.com/topcoder" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://twitter.com/topcoder']);">Twitter</a></li>
</ul>    </div>
  </div>
</div>
</div>
</body>
<a id="scroll-to-top" href="#" title="Scroll to Top">Top</a>
</html>