<!-- Content Wrapper -->
<div id="singleColumn">
    <div id="contentWrapper">
        <div id="homeBanner" class="bannerAbout" style="background-image:url('/images/<%= banner %>');">
          <div class="introContent">
          <h2>Current Leaderboard</h2>
            <div class="para">Do you have what it takes to climb to the top?</div>     </div>
        </div>
        <div class="main homeMain">
            <div id="contentArea" class="post">
            leaderbaord!!
            <!-- contentArea -->
            <div style="padding-bottom:10px"></div><div class="clear"></div>
        </div>
        <!-- main -->
    </div>
</div>